:root {
    --color-primary: #6E5E00;
    --color-on-primary: #ffffff;

    --color-primary-container: #FFE25E;
    --color-on-primary-container: #221B00;

    --color-secondary: #665E40;
    --color-on-secondary: #ffffff;
    --color-secondary-container: #EEE2BC;
    --color-on-secondary-container: #211B04;

    --color-error: #BA1A1A;
    --color-on-error: #ffffff;
    --color-error-container: #FFDAD6;
    --color-on-error-container: #410002;

    --color-background: #FFFBFF;
    --color-on-background: #1D1B16;

    --color-surface: #FFFBFF;
    --color-on-surface: #1D1B16;

    --color-surface-variant: #EAE2D0;
    --color-on-surface-variant: #4B4739;

    --color-outline: #7C7767;

    --spacing-inline-main-content: 15vw;

    --font-raleway: "Raleway", "Bahnschrift", Helvetica, Arial, sans-serif;
    --font-bahnschrift: "Bahnschrift", Helvetica, Arial, sans-serif;

    --font-size-display-large: 57px;
    --font-size-display-medium: 45px;
    --font-size-display-small: 36px;

    --font-size-title-large: 22px;
    --font-size-title-medium: 16px;
    --font-size-title-small: 14px;

    --font-size-headline-large: 32px;
    --font-size-headline-medium: 28px;
    --font-size-headline-small: 24px;

    --font-size-body-large: 16px;
    --font-size-body-medium: 14px;
    --font-size-body-small: 12px;

    --font-size-label-large: 14px;
    --font-size-label-medium: 12px;
    --font-size-label-small: 11px;
}

html {
    background: var(--color-background);
}

body {
    padding: 0px;
    margin: 0px;
    border: none;
    width: 100vw;
}


.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-inline: var(--spacing-inline-main-content);
    margin-top: 50px;
}

h1 {
    font-family: "Raleway";
    font-size: var(--font-size-display-large);
    color: var(--color-on-primary-container);
}

h2 {
    font-family: "Bahnschrift", Helvetica, Arial, sans-serif;
    font-size: 32px;
}

h3 {
    font-family: "Bahnschrift", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.subtext {
    color: var(--color-outline);
    font-family: "Bahnschrift", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 10px;
    margin-top: 20px;

}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--color-outline);
    margin: auto;
    padding: 0;
    width: 85%;
    margin: 8px auto 0px auto;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

video {
    user-select: none;
}

video::-webkit-media-controls {
    display: none;
  }

.stage {
    display:flex;
    align-items: center;
}

p {
    font-family: "Bahnschrift", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 16px;
}

.button {
    font-family: "Bahnschrift", Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-size: 24px;
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 16px;
    padding-bottom: 15px;
    background-color: #FDDB30;
    border-radius: 15px;
    border: none;
    transition-duration: 0.1s;
    cursor: pointer;
}

.category {
    font-family: "Bahnschrift", Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-size: 24px;
    color: white;
    transform: translate(-30px, 0px);
    user-select: none;
    pointer-events: none;
    z-index: 2;
    margin: auto;
    margin-left: 70px;
    text-align: left;
}

.bg {
    max-height: 100%;
    max-width: 100%;
    border-radius: 0px;
    z-index: 3;
    transition: 0.2s;
    background-size: cover;
}

.bg:hover {
    /*background: url(../Cards/ColorGew%C3%A4chshaus_Orthographic_Bearbeitet_insta.png);*/
    cursor: pointer;
    box-shadow: 0px 10px 15px rgba(51, 51, 51, 0.1);
    z-index: 3;
}

.CTA {
    margin: auto;
    margin-top: 64px;
    margin-bottom: 64px;
}

footer {
    background-color: #ffff;
}

.project {
    display: flex;
    flex-direction: column;
    /* background-color: #fff;
    box-shadow: 0px 0px 20px rgba(51,51,51,0.05);*/
    border-radius: 15px;
    padding: 20px;
    z-index: 1;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 16px;
}

.gallery-horizontal {
    display: inline-flex;
}

.my-slider img {
    display: block;
    border-radius: 5px;
    /*box-shadow: 0px 0px 20px rgba(51,51,51,0.05);*/
    z-index: 2;
    width: 100%;
    height: 100%;
    user-select: none;
}

.project-text {
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(51, 51, 51, 0.05);
    z-index: 2;
    margin-top: 20px;
}